div#gallery-first-row {
    width: 1230px;
}

div#gallery-first-row h1 {
    color: red;
    font-family: ScaryFont2;
    font-size: 30px;
}

div#gallery-first-row h2 {
    color: red;
    font-family: ScaryFont2;
    font-size: 25px;
}

div#gallery-first-row button#btn-edit {

}

div#gallery-second-row {
    width: 1230px;
}

div#gallery-second-row div#light-gallery {
    width: 100%;
    margin-top: 25px;
}

div#gallery-second-row div#light-gallery a {
    display: block;
    width: 300px;
    height: 200px;
}

div#gallery-second-row div#light-gallery div.image-container {
    display: inline-block;
    margin-bottom: 10px;
}

div#gallery-second-row div#light-gallery div.image-container {
    margin-right: 10px;
}
div#gallery-second-row div#light-gallery div.image-container:nth-child(4n) {
    margin-right: 0px;
}

div#gallery-edit-row {
    width: 1230px;
    margin: 25px 0 auto auto;
}

div#gallery-edit-row div.image-container {
    width: 300px;
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
    margin-right: 10px;
}

div#gallery-edit-row div.image-container:nth-child(4n) {
    margin-right: 0px;
}

div#gallery-edit-row div.image-container button.button-remove {
    width: 100%;
    position: absolute;
    background-color: red;
    bottom: -35px;
    left: 0;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 10px;
    color: black;
    border-color: black;
    border-width: 5px;
}

div#gallery-edit-row div.image-container button.button-remove:hover {
    cursor: pointer;
    opacity: 80%;
}


select {
    margin-bottom: 25px;
}

p {
    color: white;
    width: 700px;
    margin-bottom: 25px;
}

label {
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
}

input {
    width: 35px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#video-preview {
    border-width: 2px;
    border-color: white;
    display: block;
    width: 700px;
}

div#information-area {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Roboto;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

div#information-area.error {
    background-color: darksalmon;
    border: 5px solid red;
}

div#information-area.success {
    background-color: lightgreen;
    border: 5px solid green;
}

p#information-text {
    margin: 0;
}

div#information-area p#information-text.success {
    color: green;
}

div#information-area p#information-text.error {
    color: red;
}